body {
  background-color: rgb(204, 204, 204) !important;
  padding-inline: 1rem;
  box-sizing: border-box;
}
h1,
h2 {
  text-align: center;
}
a {
  text-decoration-line: none;
  color: #000;
}
ul {
  padding: 0;
  list-style-type: none;
}
li {
  list-style-type: none !important;
}
.player_one {
  background: white !important;
  padding: 1rem !important;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #000 !important;
  width: calc(100% - 2rem);
  margin-block: 1rem;
}
.player_two {
  background: white !important;
  padding: 1rem !important;
  border-radius: 10px !important;
  display: flex;
  flex-direction: column;
  border: 1px solid #000 !important;
  width: max-content;
  margin: auto;
}
audio {
  width: 100%;
}
