body {
  background-color: rgb(204, 204, 204);
  padding-inline: 1rem;
  box-sizing: border-box;
  /* text-align: center; */
}
h1,
h2 {
  text-align: center;
}
a {
  text-decoration-line: none;
  color: #000;
}
ul {
  padding: 0;
}
li {
  list-style-type: none;
}
.player_one,
.player_two {
  background: white;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
}
.player_one {
  width: calc(100% - 2rem);
  margin-block: 1rem;
}
.player_two {
  width: max-content;
  margin: auto;
  row-gap: 20px;
}
audio {
  width: 100%;
}
